html[dir="rtl"] .about-container p {
  font-size: 32px;
}

html[dir="rtl"] .services-subtitle {
    font-size: 24px;
}

html[dir="rtl"] .figure-label {
    font-size: 24px;
}

html[dir="rtl"] .locations-list li {
    font-size: 24px;
}

html[dir="rtl"] nav {
  text-align: left;
}

html[dir="rtl"] .nav-links li {
  margin-left: 0;
  margin-right: 20px; /* spacing between items */
}

html[dir="rtl"] .language-switch {
  margin-left: 0px;
  margin-right: 100px;
}


html[dir="rtl"] .services {
    text-align: right;
}

/* Base RTL override */
html[dir="rtl"] .service-title {
  text-align: right;
}

/* Tablet / smaller screens */
@media (max-width: 1024px) {
  html[dir="rtl"] .service-title {
    text-align: right; /* re-apply for this screen size */
  }
}

/* Mobile screens */
@media (max-width: 768px) {
  html[dir="rtl"] .service-title {
    text-align: right; /* re-apply for mobile */
  }
}

html[dir="rtl"] .business-lines h2 {
    text-align: right;  
}


html[dir="rtl"] .locations-list li::after {
  left: auto;    /* disable left */
  right: 0;      /* start from right */
}


html[dir="rtl"] .btn-explore::after {
  left: auto;    /* disable left */
  right: 0;      /* start from right */
}

html[dir="rtl"] .get-in-touch .btn-contact::after {
  left: auto;    /* disable left */
  right: 0;      /* start from right */
}


/* Alternate row for zig-zag */
html[dir="rtl"] .division-row:nth-child(even) {
  direction: ltr;
}

html[dir="rtl"] .division-row:nth-child(even) .division-text {
  text-align: right;
}

html[dir="rtl"] .division-text p {
  font-size: 22px;
  color: #555;
  line-height: 1.8;
  margin-bottom: 10px;
  direction: rtl;
}


@media (max-width: 1024px) {
  
  html[dir="rtl"] .division-row {
    grid-template-columns: 1fr;
    gap: 40px;
    direction: ltr;
  }
  
  html[dir="rtl"] .division-row:nth-child(even) .division-text {
    text-align: left;
  }
  
  html[dir="rtl"] .division-image {
    height: 250px;
  }
}


html[dir="rtl"] .who-eyebrow {
    font-size: 22px;
}

html[dir="rtl"] .who-text p { 
    font-size: 24px;
}

html[dir="rtl"] .divisions-section .section-intro {
    font-size: 26px;
}

html[dir="rtl"] .get-in-touch p {
    font-size: 22px;
}

html[dir="rtl"] .contact-hero .hero-subtitle {
    font-size: 25px;
    max-width: 480px;
}

html[dir="rtl"] .contact-info p {
    font-size: 20px;
}

html[dir="rtl"] .contact-form label {
    font-size: 18px;
}